.mainContacto{
    background-image: url(../img/oficina2fondo.png);
    height: 100vh;
    padding: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    max-width: 1600px;
   
    .tituloContacto{
        color: white;
        margin: 20px;
    }
    .formulario{
        border-radius: 10px;
        background-color: white;
        padding: 20px;
    }

}