$colorbg:black;
$colorbg2:#ffd900;
$colorTexto:black;
$colorTexto2: white;


.footerp{
    background-color:$colorbg;
    padding: 2rem;
    width: 100%;
    display: flex;
    justify-content: space-between;

    .icoImageFooter{
        width: 100px;
    }
    
    .derechos{
        color: $colorTexto2;
        padding: 10px;
        font-weight: 300;
        text-align: center;   
    }
    
    .redesSociales{
        .redes{
            height: 40px;
        }
    }
}