$vista:mobile;


@if $vista == mobile {
    @media screen and (max-width: 550px) {
        .header1{ 
            .contenido{
                .tituloIndex{
                    font-weight: 400;
                    padding:25px;
                    font-size:2.5rem;
                    line-height: 70px;
                    
                 }
                .parrafoIndex{
                    font-weight: 300;
                    line-height: 45px;
                    padding: 40px;
                    font-size:1.8rem;
                    display: flex;
                    flex-wrap: wrap;
                }
            }
        }
            .mainIndex{

                .oficina4{
                    padding: 5px;
                    margin: 10px auto;
                    
                   
                }    

                .texto1{
                    font-size: 0.8rem;
                    padding: 5px;
                    margin: 10px;
                    line-height: 27px;   
                }
            }
            
        
        


        .contenidosbrn{
            .titulosbrn{
                padding: 10px;
                max-width: 350px;
                
                font-size: 0.5rem;
            }
            .titulo2sbrn{
                font-size: 0.5rem;
            }
        }
        .descripcionsbrn{
            padding: 2px;
            .textosbrn{
                font-size: 0.8rem;
                padding: 10px;
                display: flex;
                flex-wrap: wrap;
            }

        }

        .contenidoFormulario{
            background-image: url(../img/oficina2fondo.png);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            align-items: center;
            justify-content: space-around;

            .tituloFormulario{
                text-align: center;
                font-size: 1.5rem;
                font-weight: 300;
                align-items: center;
                padding: 15px;
                margin: 12px 0;
        }
            .formulario{
                width: 90%;
                padding: 15px;
                background-color: white;
                border-radius: 10px;
                margin: 12px 0;
        }
    }


    

        .footerp{
            .icoImageFooter{
                width: 80px;
                height: 40px;
            }
            .derechos{
                font-size: 0.7rem;
                margin-bottom: 0;
                
            }
            .redesSociales{
                .redes{
                    width: 30px;
                    height: 30px;
                }
            }
            
        }


        
    }
       
}
    
 