$colorbg2:#ffd900;
$colorTexto:black;

.navbar{
    font-size: 15px;
    font-weight: 500; 
    .posicion{
        display: flex;
        justify-content: flex-end;
        width: 100%; 
        .navbar-toggler{
            border: none !important;
            &:focus{
                box-shadow: none !important;

            }
        }
        .navbar-collapse{
            .navbar-nav{
                .nav-item{
                    .nav-link{
                        &:hover{
                            background-color: $colorbg2;
                            color: $colorTexto;
                            border-radius: 10px;
                            font-weight: 500;
                        }
                    }
                }
            }
        }  
    }
}