$colorbg:black;
$colorbg2:#ffd900;
$colorTexto:black;
$colorTexto2: white;
$colorTexto3: #ffd900;

.navbar{
    font-size: 15px;
    font-weight: 500; 
    .navbar-toggler{
        border: none !important;
        &:focus{
            box-shadow: none !important;
        }
    }

    .posicion{
        display: flex;
        justify-content: flex-end;
        width: 100%; 
        
        .nav-item{
            .nav-link{
                &:hover{
                    color: $colorTexto3;    
                }
            }
        }
    }
}