$colorbg:#ffd900;
$colorTexto:black;
$grid-gutter-width: 1.5rem;

.contenidosbrn{
    text-align: center;
    color: $colorTexto; 
    .row{
        .titulosbrn{
            font-weight: 300;
            padding: 20px;
            font-size: 2.5rem;
            flex-wrap: wrap;
            max-width: 900px;
            margin: 20px auto; 
            --bs-gutter-x: 0;
        }
        .titulo2sbrn{
            font-weight: 500;
            font-size: 1.2rem;
            padding: 30px;
        }
    }
    .descripcionsbrn{
        font-weight: 300;
        padding: 20px;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        max-width: 1600px;
        margin: 10px auto;
        .textosbrn{
            text-align: left;
            line-height: 30px;
            margin: 20px;  
        }
        .imgsbrn{
            width: 95%;
            max-width: 800px;
            margin: 20px;
        }
    }   
}